In [8]:
import dash
from dash import dcc, html
from dash.dependencies import Input, Output
import requests
import pandas as pd
import plotly.express as px

In [ ]:
df = pd.read_excel(r'cmdb_ci_all.xlsx')

In [13]:
df_group = df.groupby(['used_for','sys_class_name']).size().reset_index(name='counts')
df_group

                      used_for                 sys_class_name  counts
0   Certification/Homologation                   Linux Server    3788
1   Certification/Homologation  Other Operating System Server       2
2   Certification/Homologation                 Windows Server    1221
3                  Development                   Linux Server    1538
4                  Development                 Windows Server     585
5               Pre-Production                   Linux Server      19
6                   Production                       Computer      15
7                   Production                   Linux Server   13373
8                   Production               Other Networking       4
9                   Production  Other Operating System Server      12
10                  Production                Server Hardware       8
11                  Production                 Windows Server    6856
12                        Test                   Linux Server      90
13                        Test                 Windows Server      93

In [18]:
app = dash.Dash(__name__)

app.layout = html.Div(children=[
    html.H1("Dashboard com Dados da CMDB"),
    html.Div(children=[
        html.H2("Gr√°fico de Barras"),
        dcc.Graph(
            id='bar-chart',
            figure=px.bar(df_group, x='used_for', y='counts',barmode='group',color='sys_class_name',text='counts').update_traces(textposition='outside')  # barmode='group' agrupa as barras
          
        )
    ])
])

if __name__ == '__main__':
    app.run_server(debug=True)